﻿{# rate_diff.html #}
<HTML>
	<BODY>Week rate diff
		<TABLE border="1">
			<THEAD>
				<TR>
					<TH>Ratio</TH>
					<TH>Home currency ISO code </TH>
					<TH>ISO code</TH>
					<TH>Name</TH>
					<TH>Unit per USD</TH>
					<TH>Prev unit per USD</TH>
					<TH>USD per unit</TH>
					<TH>Prev USD per unit</TH>
				</TR>
			</THEAD>
			<TBODY>	
				{% for item in rates %}
					<tr>
						<td> {{ item['ratio'] }} </td>
						<td> {{ item['homeCurrency'] }} </td>
						<td> {{ item['currencyCode'] }} </td>
						<td> {{ item['currencyName'] }} </td>
						<td> {{ item['unitPerHomeCurrency'] }} </td>
						<td> {{ item['prevUnitPerHomeCurrency'] }} </td>
						<td> {{ item['homeCurrencyPerUnit'] }} </td>
						<td> {{ item['prevHomeCurrencyPerUnit'] }} </td>
					</tr>
				{% endfor %}
			</TBODY>	
		</TABLE>
	</BODY>
</HTML>

